<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
	<display-name>SecurityApp</display-name>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<display-name>TestServlet</display-name>
		<servlet-class>com.nri.security.test.TestServlet</servlet-class>
		<init-param>
			<param-name>suite</param-name>
			<param-value>com.nri.security.model.test.AllTests</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>secure/logon.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>403</error-code>
		<location>/logonError.jsp</location>
	</error-page>
	<taglib>
		<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-template.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
	</taglib>
	<resource-ref id="ResourceRef_1185198828648">
		<res-ref-name>jdbc/july</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<description></description>
			<url-pattern>/SecurityApp/*</url-pattern>
			<url-pattern>/secure/*</url-pattern>
			<http-method>
			GET</http-method>
			<http-method>
			PUT</http-method>
			<http-method>
			POST</http-method>
			<http-method>
			DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>AllAuthenticated</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<description></description>
			<url-pattern>/</url-pattern>
			<http-method>
			GET</http-method>
			<http-method>
			PUT</http-method>
			<http-method>
			POST</http-method>
			<http-method>
			DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>AllAuthenticated</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<description></description>
			<url-pattern>*.do</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>AllAuthenticated</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/logon.jsp</form-login-page>
			<form-error-page>/logonError.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<description></description>
		<role-name>AllAuthenticated</role-name>
	</security-role>
	<ejb-ref id="EjbRef_1185191126050">
		<ejb-ref-name>ejb/SecurityActionProcessor</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.nri.ejb.SecurityActionProcessorFacadeHome</home>
		<remote>com.nri.ejb.SecurityActionProcessorFacade</remote>
		<ejb-link>NriGroup.jar#SecurityActionProcessorFacade</ejb-link>
	</ejb-ref>
	<ejb-local-ref id="EJBLocalRef_1185458734265">
		<ejb-ref-name>ejb/SecurityActionProcessorLocal</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.nri.ejb.SecurityActionProcessorFacadeLocalHome</local-home>
		<local>com.nri.ejb.SecurityActionProcessorFacadeLocal</local>
		<ejb-link>NriGroup.jar#SecurityActionProcessorFacade</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref id="EJBLocalRef_1185782563949">
		<ejb-ref-name>ejb/OIDGenerator</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.god.oidgen.OIDGeneratorSessionLocalHome</local-home>
		<local>com.god.oidgen.OIDGeneratorSessionLocal</local>
		<ejb-link>OIDGenerator.jar#OIDGeneratorSessionBean</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref id="EJBLocalRef_1191230364608">
		<ejb-ref-name>ejb/SequenceGenerator</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.nri.sequence.ejb.SequenceSessionLocalHome</local-home>
		<local>com.nri.sequence.ejb.SequenceSessionLocal</local>
		<ejb-link>SequenceGenerator.jar#SequenceSession</ejb-link>
	</ejb-local-ref>
</web-app>
